<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <meta http-equiv="content-type" charset="utf-8">
    </head>
    <body>
        <nav>
            <ul>
                <li class=”cur”><a href="index.html">Home</a></li>
                <!--
                    <li class=”cur” style="cursor: pointer;">
                        <input type="checkbox" class="checkbox"/>
                         Log
                    </li>
                    -->
            </ul>
            <!--
                <div class="hidden_show">
                    content
                </div>
                -->
        </nav>

        <h1>PDF Grammer Converter</h1>
        <p>
            <h2>概要</h2>
            PDFから英文を直接コピーした時に，
            <ul>
                <li>文の途中に改行が含まれてしまう問題</li>
                <li>単語の中に"-"が含まれてしまう問題</li>
                <li>ピリオドの後のスペースが消去され，そのままDeepL翻訳にかけると文が繋がって翻訳されてしまう問題</li>
            </ul>
            を解消するための変換をするものです．
        </p>
        <h2>連絡先</h2>
        <p>
            何かあったら連絡してください．<br>
            pdf.grammer.converter[at]gmail.com
        </p>
    </body>
    <footer>
        <ul class="footer-menu">
            <li><a href="index.html">Home</a> </li>
            <li>|</li>
            <li><a href=about.html>About </a> </li>
        </ul>
        <!--
            <p>© All rights reserved by bc.</p>
            -->
    </footer>
</html>